* {
  margin: 0px;
  padding: 0px;
}
html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  margin: 0 auto;
  background-color: #e0ebe8;
}

header {
  font-family: "Brush Script MT", cursive;
  background-color: #c5ded7;
  position: relative;
}

header .me {
  width: 5%;
  position: absolute;
  left: 15%;
  top: 10%;
  float: left;
 
}

nav * {
  float: right;
}

nav ul {
  width: 40%;
  list-style: none;
  position: absolute;
  top: 10%;
  right: 15%;
}

header ul li {
  font-size: 30px;
  padding-left: 10%;
}

a {
  text-decoration: none;
  color: #4ab19a;
}

.hero-section {
  padding-top: 15%;
  width: 100%;
  margin: 0 auto;
}

.hero-section h1 {
  color: #4ab19a;
  text-align: center;
  font-family: "Brush Script MT", cursive;
  font-size: 60px;
  line-height: 30px;
}
.hero-section p {
  color: #4ab19a;
  text-align: center;
  font-family: "Brush Script MT", cursive;
  font-size: 30px;
  padding-top: 2.5%;
}

.hero-section .land {
  padding-left: 20%;
  padding-top: 5%;
}

.hero-section .cloud2 {
  position: absolute;
  top: 35%;
}

.hero-section .cloud1 {
  position: absolute;
  left: 10%;
}

.welcome-section {
  width: 100%;
  padding-top: 8%;
  background-color: #ffffff;
  text-align: center;
}

.welcome-section img {
  width: 12%;
  padding-bottom: 2%;
}


.welcome-section h2 {
  color: #1e836c;
  font-size: 36px;
  padding-bottom: 2%;
}

.welcome-section p {
  width: 40%;
  margin: 0 auto;
  color: #545454;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 21px;
}

.todo-section {
  padding-top: 18%;
  background-color: #ffffff;
}
.todo-container {
  width: 75%;
  margin: 0 auto;
  padding-bottom: 10%;
}

.todo-section h1 {
  color: #1e836c;
  font-size: 36px;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  padding-bottom: 5%;
}
.todo-section img {
  width: 18%;
}
.float {
  float: right;
  width: 70%;
}
.todo-section p {
  padding-left: 10%;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  color: #545454;
}

.todo-section h3 {
  padding-bottom: 5%;
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #4ab19a;
}

.float2 {
  float: left;
  width: 70%;
}

.float2 p {
  padding-right: 15%;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  color: #545454;
}
.float2 img {
  width: 18%;
}

.dots {
  width: 100%;
  background-color: white;
}

.dot {
  height: 10px;
  width: 10px;
  background-color: #1e836c;
  border-radius: 50%;
  display: inline-block;
  font-size: 16px;
}

.for-help {
  padding-top: 10%;
  text-align: center;
  background-color: #ffffff;
  padding-bottom: 10%;
}

.for-help h1 {
  color: #4ab19a;
  font-family: "Brush Script MT", cursive;
  padding-bottom: 2%;
  font-size: 60px;
}

.for-help h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #4ab19a;
  padding-bottom: 2%;
  font-size: 20px;
}

.for-help p {
  width: 60%;
  margin: 0 auto;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 21px;
  color: #545454;
  padding-bottom: 5%;
}
button {
  border: none;
  border-radius: 10px;
  border-color: #45b29a;
  background-color: #45b29a;
  padding-bottom: 10px;
  outline: none;
}

button a {
  color: #1b7f69;
  padding: 10px 40px;
  margin: 0 auto;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  text-decoration: none;
  font-weight: bold;
}

i {
  position: relative;
  top: 4px;
  right: 10px;
}

footer {
  background-color: #c5ded7;
  text-align: center;
}
footer ul {
  font-size: 23px;
  list-style: none;
}

footer li {
  float: left;
  padding-left: 10%;
}
footer p {
  padding-top: 6%;
  text-align: center;
  color: #45b29a;
  font-size: 23px;
  padding-bottom: 2%;
}
.footer-list {
  width: 50%;
  margin: 0 auto;

  padding-top: 5%;
  padding-left: 10%;
 
}

#cloud:hover {
  padding-left: 5%;
}

a:hover {
  color: #545454;
}

.farfa-snowflake {
  color: blue;
  background-color: #545454;}


